
body{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#form, #signup{
    width: 512px;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) { 
    
    body{
        width: 80%;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    
    body{
        width: 60%;
    }
 }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { 
}