<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
    />
    <link rel="stylesheet" href="/static/index.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico')
    }}"
    />
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </head>
  <body>
    <h1>HTMX w/Flask</h1>
    {% block content %} {% endblock %}
  </body>
</html>
